# Cache crap that Valve autogenerates
*.bin
*.cfg
*.soc
*.tmp

# Compiled formats


# Map files

# Map overviews
resource/overviews/*

#Github dump
*.stackdump


# eclipse
.project
.settings
.DS_Store
.idea
