@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#TitlePanel
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 150px;
  margin-left: 100px;
  flow-children: right;
}

#AddonTitle
{
  margin-bottom: -15px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #cccccc;
  text-shadow: 2px 2px 2px #000000;
}

#community_discord_container
{
	width: 15%;
	height: 15%;
	margin-left: 22%;
	margin-top: -1%;
	background-color: rgba(0, 0, 0, 0.7);
}

#community_website_container
{
	width: 15%;
	height: 15%;
	margin-left: -10%;
	margin-top: -1%;
}

#community_patreon_container
{
	width: 15%;
	height: 15%;
	margin-left: 5%;
	margin-top: -26%;
	background-color: rgba(0, 0, 0, 0.7);
}

#TitleCommunityPanel
{
	padding-top: 100px;
	margin-top: 20px;
	margin-left: 5%;
	width: 20%;
	height: 12%;
	flow-children: down;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 30px;
}

.AspectRatio4x3 #CommunityPanel
{
	width: 300px;
}

#community_header {
	margin-left: 0px;
	margin-top: -90px;
}


#community_website_header {
	margin-left: -120px;
	margin-top: -100px;
}

#community_patreon_header {
	margin-left: 230px;
	margin-top: -105px;
}

.CommunityImg
{
	width: 100px;
	height: 100px;
	margin-top: 2px;
	margin-bottom: 2px;
	horizontal-align: center;
	border-radius: 25px;
	saturation: 0.9;
	transition-property: saturation, box-shadow;
	transition-duration: 0.2s;
	
}

.CommunityImg:hover
{
	saturation: 1.0;
	box-shadow: #ffffff 0px 0px 10px 0px;
}

.CommunityImg:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
	opacity: .35;
}

#gamemode
{
  margin-left: 160px;
  /*margin-bottom: 0px;*/
  
}

@keyframes 'gamemode_anim'
{
  0%
  {
    transform: translateX( 0px ) translateY( 0px );
    pre-transform-scale2d: .8;
  }

  100%
  {
    transform: translateX( 0px ) translateY( -200px );
  }
}



/*********************************************
*********************************************/

#BGPanel
{
	width: 100%;
    height: 100%;
}

#BG_IMG
{
	width: 100%;
    height: 100%;
}